  .navbar-nav {
      width: 100%;
      text-align: center;
  }
  
  .navbar-nav > li {
      float: none;
      display: inline-block !important;
  }

  #slider {
  	background-color: white;
  }

  ul {
    padding-left: 0;
  }
  ul ul {
    display:none;
    padding-left: 40px;
  }

  .activeList {
    display: block;
  }

  .sideBarSearchInput {
    width: 80%;
    border:0;
    border-bottom: .1px solid;
    outline: none;
    margin-bottom:10px;
  }

  .sideBarSubList {
    list-style:none;
  }

  .sideBarSubList li, .contactInfo {
    letter-spacing :2px;
    margin-top: 10px;
    margin-bottom: 10px;
  }



  .sideBarBoldTitle {
    letter-spacing: 3px;
  }